<ion-header>
  <ion-toolbar class="header-close" color="transparent">
    <ion-buttons slot="end" routerLink="/home">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <img
      src="assets/images/close-icon-bg.svg"
      alt="Close Icon Background"
      class="close-icon-bg"
    />
  </ion-toolbar>
</ion-header>

<ion-content class="maincontent" padding>
  <div class="drop">
    <div class="category">
      {{ drop.category }}
    </div>
    <div class="drop-view">
      <div class="text-content">
        {{ drop.description }}
      </div>
      <ion-item class="more-button">
        <ion-icon name="more" class="edit-icon"></ion-icon>
        <ion-select
          interface="action-sheet"
          (ionChange)="selectedOption(drop, $event)"
        >
          <ion-select-option
            (click)="disableReport()"
            [disabled]="disableButton"
            value="report"
            >Melden</ion-select-option
          >
        </ion-select>
      </ion-item>
    </div>
    <div class="voting">
      <div class="voting-buttons">
        <button (click)="voteUp(drop.score)" [disabled]="disableUpVoteBtn">
          <img id="upvotebtn" [src]="upVoteBtnPick" alt="Upvote Button" />
        </button>
        <button (click)="voteDown(drop.score)" [disabled]="disableDownVoteBtn">
          <img id="downvotebtn" [src]="downVoteBtnPick" alt="Downvote Button" />
        </button>
      </div>
      <div class="rating">
        {{ drop.score }}
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
</ion-footer>
