<ion-header>
  <ion-toolbar class="header-close" color="transparent">
    <ion-buttons slot="end" routerLink="/home">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <img src="assets/images/close-icon-bg.svg" alt="Close Icon Background" class="close-icon-bg">
  </ion-toolbar>
</ion-header>

<ion-content padding class="maincontent">
  <!--<h1>Neuen Drop erstellen</h1>-->
  <ion-item>
    <ion-label>Kategorie</ion-label>
    <ion-select [(ngModel)]="drop.category">
      <ion-select-option value="Essen & Trinken">Essen & Trinken</ion-select-option>
      <ion-select-option value="Kultur/Sehenswürdigkeiten">Kultur/Sehenswürdigkeiten</ion-select-option>
      <ion-select-option value="Unterhaltung/Spaß">Unterhaltung/Spaß</ion-select-option>
      <ion-select-option value="Überraschung">Überraschung</ion-select-option>
      <ion-select-option value="Einkaufen">Einkaufen</ion-select-option>
      <ion-select-option value="Nice Place">Nice Place</ion-select-option>
      <ion-select-option value="Hidden Gem">Hidden Gem</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-textarea class="drop-text" autofocus required type="text" placeholder="Type your drop here." [(ngModel)]="drop.description" maxlength="250" minlength="10" #dropContent="ngModel"></ion-textarea>
  <div *ngIf="dropContent.invalid && (dropContent.dirty || dropContent.touched)">
    <div *ngIf="dropContent.errors.required" class="alert-text">
      Der Drop darf nicht leer sein.
    </div>
    <div *ngIf="dropContent.errors.minlength" class="alert-text">
      Der Drop muss mindestens 10 Zeichen beinhalten.
    </div>
    <div *ngIf="dropContent.errors.maxlength" class="alert-text">
      Der Drop darf Maximal 250 Zeichen beinhalten
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-button">
    <button class="drop-button" (click)="saveDrop()">
      Drop
    </button>
  </ion-toolbar>
</ion-footer>


