<ion-header>
  <ion-toolbar class="header-close" color="transparent">
    <ion-buttons slot="end" routerLink="/home">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <img
      src="assets/images/close-icon-bg.svg"
      alt="Close Icon Background"
      class="close-icon-bg"
    />
  </ion-toolbar>
</ion-header>

<ion-content padding class="maincontent">
  <div class="center-position">
    <ion-icon name="construct"></ion-icon>
  </div>
  <ion-text color="secondary">
    <p>
      Notifications are coming soon.
      <br />
      Stay tuned!
    </p>
  </ion-text>
</ion-content>
