<ion-header>
  <ion-toolbar class="header-close" color="transparent">
    <ion-buttons slot="end" routerLink="/home" routerDirection="back">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <img
      src="assets/images/close-icon-bg.svg"
      alt="Close Icon Background"
      class="close-icon-bg"
    />
  </ion-toolbar>
</ion-header>

<ion-content padding class="maincontent">
  <img src="../../../assets/icon/img-info-screen.png" class="img-info">
  <ion-list class="info-list">
    <ion-item class="info-item" detail="false" routerDirection="forward" routerLink="about" lines="none">Über drop.</ion-item>
    <ion-item class="info-item" detail="false" routerDirection="forward" routerLink="impressum" lines="none">Impressum</ion-item>
    <ion-item class="info-item" detail="false" routerDirection="forward" routerLink="privacy" lines="none">Datenschutz</ion-item>
    <ion-item class="info-item" detail="false" routerDirection="forward" routerLink="termsofuse" lines="none">Nutzungsbedingungen</ion-item>
  </ion-list>
</ion-content>
