<ion-header>
  <ion-toolbar class="header-close" color="transparent">
    <ion-buttons slot="end" routerLink="/home/settings" routerDirection="back">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <img
      src="assets/images/close-icon-bg.svg"
      alt="Close Icon Background"
      class="close-icon-bg"
    />
  </ion-toolbar>
</ion-header>

<ion-content padding class="maincontent">
  <ion-text color="secondary">
    <h3>
      Entwickelt mit viel <ion-icon class="icon-about" name="heart"></ion-icon> und
      <ion-icon class="icon-about" name="cafe"></ion-icon> von
    </h3>
  </ion-text>
  <ion-text color="dark">
    <h3>
      Pia Freilinger
      <br />
      Selina Groß
      <br />
      Tina Oswald
      <br />
      Kim Tews
      <br />
      Moritz Hofherr
      <br />
      Noel Wieland
    </h3>
    <div class="to-bottom">
    <img src="../../../assets/images/undraw_having_fun_iais.svg" class="img-info"/>
    <p class="sidenotes">
      Diese App ist entstanden innerhalb eines Studien-Projektes an der Dualen
      Hochschule Baden-Württemberg in Mosbach im Studiengang Onlinemedien.
    </p>
    </div>
  </ion-text>
</ion-content>
