<ion-header>
  <ion-toolbar class="header-close" color="transparent">
    <ion-buttons slot="end" routerLink="/home/settings" routerDirection="back">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <img
      src="assets/images/close-icon-bg.svg"
      alt="Close Icon Background"
      class="close-icon-bg"
    />
  </ion-toolbar>
</ion-header>

<ion-content padding class="maincontent">
  <ion-text color="primary">
    <h2>drop.</h2>
  </ion-text>
  <ion-text color="secondary">
    <p>
      entwickelt mit viel <ion-icon name="heart"></ion-icon> und
      <ion-icon name="cafe"></ion-icon> von
    </p>
  </ion-text>
  <ion-text color="dark">
    <p>
      Pia Freilinger
      <br />
      Selina Groß
      <br />
      Tina Oswald
      <br />
      Kim Tews
      <br />
      Moritz Hofherr
      <br />
      Noel Wieland
    </p>
    <p class="sidenotes">
      Diese App ist entstanden innerhalb eines Studien-Projektes an der Dualen
      Hochschule Baden-Württemberg in Mosbach im Studiengang Onlinemedien.
    </p>
    <div class="center-position">
      <br />
      <br />
      <br /><ion-icon name="water"></ion-icon>
    </div>
  </ion-text>
</ion-content>
