.fake-skeleton {
  width: 80%;
}
* {
  font: {
    family: 'Nunito', sans-serif;
    weight: 600;
    size: 20px;
  }
  --border-width: 0 !important;
}

#map {
  background: $white;
}

ion-badge {
  font-size: 10px;
}

.drop-button {
  padding: $button-padding;
  border-radius: $border-radius-rounded;
  @include gradient-horizontal($primary, $quaternary);
  color: #fff;
  margin: 0 0 20px 0;
}

.score-headline {
  text-align: center;
  margin-bottom: 20px;
  font: {
    size: 30px;
  }
  .score {
    font: {
      size: 100px;
    }
    color: $secondary;
    display: block;
  }
}

.mydrops-headline {
  margin-bottom: 14px;
}

.maincontent {
  position: relative;
  z-index: 100;
  --padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.drop-text {
  &:before {
    content: '';
    width: 2px;
    height: 30px;
    border-radius: $border-radius;
    background: $primary;
    margin-right: 5px;
  }
}

.category {
  background: $primary;
  border-radius: $border-radius-rounded;
  padding: 10px 16px;
  color: $white;
  display: inline-block;
  margin-bottom: 20px;
  font: {
    size: 16px;
  }
}

.voting {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  .voting-buttons {
    display: flex;
    //justify-content: space-between;
    //margin: 0 -10px;
    align-items: center;
    button {
      position: relative;
      width: 50px;
      height: 50px;
      background: none;
      border-radius: $border-radius-rounded;
      color: none;
      margin: 0 10px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .rating {
  }
}

.drop-comments {
  margin-top: 50px;
}

.comment {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  .comment-text {
    background: $gray-light;
    padding: 10px 20px;
    border-radius: $border-radius;
  }
}

.edit-icon {
  display: inline-block;
  transform: rotate(90deg);
}

.drop-text {
  display: block;
}
.alert-text {
  font: {
    size: 10px;
  }
  color: $danger;
}

.add-comment {
  position: relative;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: $border-radius-rounded;
  margin-top: 20px;
  padding: 0;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: auto;
  }
}

.text-content {
  background: $gray-light;
  padding: 10px 20px;
  border-radius: $border-radius;
  width: 100%;
}

.select-item, .drop-view {
  display: flex;
  justify-content: space-between;
  .select-content {
    width: 100%;
  }
}

.drop-score {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  p {
  }
}

.more-button {
  border: none;
}
.item-inner {
  border: none !important;
}

.select-field {
  display: none;
}

.category-select {
  background: $gray-light;
  padding: 10px 20px;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font: {
    size: 16px;
    weight: bold;
  }
}

.filter input[type='checkbox'] {
  display: none;
  &:checked + .filtertext:before {
    width: 30px;
    height: 30px;
    display: block;
    content: '';
    float: left;
    margin-right: 5px;
    background-image: url('assets/icon/check.svg');
    background-repeat: no-repeat;
  }
}

.filtertext {
  padding-left: 7px;
  font: {
    family: 'Nunito';
    weight: 600;
  }
}

.filtertext:before {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 11px;
  display: block;
  content: '';
  float: left;
  margin-right: 5px;
}

.filterelement {
  padding-bottom: 20px;
}

.button-container {
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0px 0px -20px 0px;
}

.img-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.info-list {
  height: calc(100% - 110px - 70px);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.info-item {
  padding-bottom: 20px;
}
.icon-about {
  color: #8633FF;
}

h1 {
  font-weight: 600;
  font-size: 30px;
}

h2 {
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 14px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

h4 {
  font-weight: 600;
  font-size: 16px;
}

p {
  font-family: Lato;
  font-size: 16px;
  a {
    font-family: Lato;
    font-size: 16px;
  }
}

.haftung {
  padding-top: 30px;
}
.custom-button {
  text-align: center;
}
