.fake-skeleton {
  width: 80%;
}
* {
  font: {
    family: 'Nunito', sans-serif;
    size: 20px;
  }
  --border-width: 0!important;
}

#map {
  background: $white;
}

ion-badge {
  font-size: 10px;
}

ion-toolbar {
  text-align: center;
}

.drop-button {
  padding: $button-padding;
  border-radius: $border-radius-rounded;
  @include gradient-horizontal($primary, $quaternary);
  color: #fff;
  margin: 0 0 20px 0;
}

.score-headline {
  text-align: center;
  margin-bottom: 40px;
  font: {
    size: 30px;
  }
  .score {
    font: {
      size: 100px;
    }
    color: $secondary;
    display: block;
  }
}

.maincontent {
  position: relative;
  z-index: 100;
  --padding-top: 100px;
}

.drop-text {
  &:before {
    content: "";
    width: 2px;
    height: 30px;
    border-radius: $border-radius;
    background: $primary;
    margin-right: 5px;
  }
}

.category {
  background: $primary;
  border-radius: $border-radius-rounded;
  padding: 10px 16px;
  color: $white;
  display: inline-block;
  margin-bottom: 20px;
  font: {
    size: 16px;
  }
  text-transform: uppercase;
}

.voting {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  .voting-buttons {
    display: flex;
    //justify-content: space-between;
    //margin: 0 -10px;
    align-items: center;
    button {
      position: relative;
      width: 50px;
      height: 50px;
      background: $primary;
      border-radius: $border-radius-rounded;
      color: $white;
      margin: 0 10px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .rating {

  }
}

.drop-comments {
  margin-top: 50px;
}

.comment {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  .comment-text {
    background: $gray-light;
    padding: 10px 20px;
    border-radius: $border-radius;
  }
}

.edit-icon {
  transform: rotate(0);
}

.drop-text {
  display: block;
}
.alert-text {
  font: {
    size: 10px;
  }
  color: $danger;
}

.add-comment {
  position: relative;
  width: 50px;
  height: 50px;
  background: $primary;
  border-radius: $border-radius-rounded;
  color: $white;
  margin-top: 20px;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: auto;
  }
}

.text-content {
  background: $gray-light;
  padding: 10px 20px;
  border-radius: $border-radius;
  width: 100%;
}

.account-item {
  display: flex;
  justify-content: space-between;
  .account-content {
    width: 100%;
  }
}

.drop-score {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  p {

  }
}

.more-button {
  border: none;
}
.item-inner {
  border: none !important;
}

.select-field {
  display: none;
}
