.fake-skeleton {
  width: 80%;
}
* {
  --border-width: 0!important;
  font: {
    family: 'Nunito', sans-serif;
    size: 20px;
  }
}

ion-badge {
  font-size: 10px;
}

ion-toolbar {
  text-align: center;
}

.drop-button {
  padding: 10px 30px;
  border-radius: 99em;
  @include gradient-horizontal($primary, $quaternary);
  color: #fff;
  margin: 0 0 20px 0;
}

.score-headline {
  text-align: center;
  margin-bottom: 40px;
  font: {
    size: 30px;
  }
  .score {
    font: {
      size: 100px;
    }
    color: $secondary;
    display: block;
  }
}

.maincontent {
  position: relative;
  z-index: 100;
  --padding-top: 100px;
}

.drop-text {
  &:before {
    content: "";
    width: 2px;
    height: 30px;
    border-radius: 99em;
    background: $primary;
    margin-right: 5px;
  }
}

.voting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    padding: 10px 30px;
    background: $primary;
    border-radius: 99em;
    color: $white;
  }
}
