ion-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.header-close {
  height: auto;
  contain: none;
  overflow: visible;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .toolbar-background, .toolbar-container {
    overflow: visible;
  }
  .back-button {
    position: relative;
    z-index: 250;
  }

  ion-icon {
    width: 30px;
    height: 30px;
    padding: 41px 20px;
    box-sizing: padding-box;
    color: #fff;
  }

  .close-icon-bg {
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    width: 100%;
    z-index: -1;
  }
}

#drop-logo {
  height: 30px;
  width: auto;
  margin: 35px 20px 20px;
}

.header-md{
  &:after {
    display: none;
  }
}

.header-ios ion-toolbar:last-child {
  --border-width: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  ion-toolbar {
    text-align: left;
  }
}

.toolbar-background {
  display: none;
  background: transparent;
}

.headline {
  background: none;
  border-width: 0;
  border: none !important;
  min-height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#header-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  z-index: -1;
}

#info-button {
  width: 30px;
  height: auto;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 30px;
  box-sizing: inherit;
}
