ion-tab-bar, ion-tab-button {
  background: $white;
  border: none;
  box-shadow: none;
  contain: none;
}

.home-button {
  position: absolute;
  top: 120px;
  z-index: 200;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  cursor: pointer;
  left: auto;
  right: 30px;
  transform: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  img {
    width: 100%;
    height: auto;
  }
}

.tab-wrapper {
  position: absolute;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: $white;
  justify-content: space-between;
  flex-wrap: wrap;
  .tab-element {
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: darken($white, 0.2);
    }
    max-width: percentage(1/3);
    flex: 0 0 percentage(1/3);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: {
      size: 11px;
    }
    color: $gray-100;
    img {
      display: block;
      margin-bottom: 5px;
    }
  }
  .add-new-drop {
    width: 80px;
    height: auto;
    padding: 0;
    position: absolute;
    left: 50%;
    //box-shadow: 0 0 8px rgba(0,0,0,0.15);
    border-radius: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    img {
      width: 100%;
      height: auto;
      margin-bottom: 0;
    }
    &:hover, &:active, &:focus {
      background: transparent;

    }
  }
}


