ion-tab-bar, ion-tab-button {
  background: $white;
  border: none;
  box-shadow: none;
  contain: none;
}

.add-new-drop {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  cursor: pointer;
}

.tab-wrapper {
  /*position: absolute;
  bottom: 0;
  left: 0;
  right: 0;*/
  display: flex;
  background: $white;
  justify-content: space-between;
  flex-wrap: wrap;
  .tab-element {
    max-width: percentage(1/3);
    flex: 0 0 percentage(1/3);
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
