<ion-content>
  <div class="header">
    <ion-toolbar class="headline" color="transparent">
      <img src="assets/images/drop-logo.svg" alt="Logo Drop" id="drop-logo" />
      <img
        src="assets/images/headline-bg.svg"
        alt="Drop Background"
        id="header-bg"
      />
    </ion-toolbar>
  </div>
  <div id="map"></div>
</ion-content>

<ion-tabs class="tab-wrapper">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="filter">
      <img src="assets/icon/filter-icon.svg" alt="Filter Icon" />
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <img src="assets/icon/notification-icon.svg" alt="Filter Icon" />
    </ion-tab-button>

    <ion-tab-button tab="new-drop" class="add-drop">
      <img src="assets/icon/add-drop-icon.svg" alt="Filter Icon" />
    </ion-tab-button>

    <ion-tab-button tab="account">
      <img src="assets/icon/profile-icon.svg" alt="Filter Icon" />
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <img src="assets/icon/settings-icon.svg" alt="Filter Icon" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<img
  src="assets/images/tabbar-bg.svg"
  alt="Tabbar Background"
  class="tabbar-bg"
/>
