<ion-header>
  <ion-toolbar color="primary" no-padding no-margin>
    <img src="assets/images/drop-logo.svg" alt="Logo Drop" id="drop-logo">
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Streetmap Comming Soon
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="filter" routerLink="/filter">
      <ion-icon name="funnel"></ion-icon>
      <ion-badge>2</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="notification" routerLink="/notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="add" routerLink="/new-drop">
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/account">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" routerLink="/settings">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>


