<ion-content>
  <div class="refresher">
    <ion-refresher (ionRefresh)="doRefresh($event)" color="#472ee8" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
      <ion-refresher-content
              refreshingSpinner="crescent">
      </ion-refresher-content>
    </ion-refresher>
  </div>
  <div class="header">
    <ion-toolbar class="headline" color="transparent">
      <img src="assets/images/drop-logo.svg" alt="Logo Drop" id="drop-logo" />
      <img src="assets/icon/info-icon.svg" alt="Info Icon" routerLink="settings" id="info-button" />
      <img src="assets/images/headline-bg.svg" alt="Drop Background" id="header-bg" />
    </ion-toolbar>
  </div>
  <div class="home-button" (click)="centerMap()">
    <img src="assets/icon/location-icon.svg" alt="Location Icon"/>
  </div>

  <div id="map"></div>
</ion-content>

<div class="tab-wrapper">
  <div class="tab-element" routerLink="filter">
    <img src="assets/icon/filter-icon.svg" alt="Filter Icon" />
    Filter
  </div>
  <div class="tab-element add-new-drop" routerLink="add-drop">
    <img src="assets/icon/add-drop-icon.svg" alt="Add new Drop Icon" />
  </div>
  <div class="tab-element" routerLink="account">
    <img src="assets/icon/profile-icon.svg" alt="Profile Icon" />
    Profil
  </div>
</div>
