<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
  <link
    href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    rel="stylesheet"
  />
</ion-header>

<ion-content>
  <div id="map"></div>

  <ion-fab id="addButton" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/account" routerDirection="forward">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/account" routerDirection="forward">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
