<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>

  <ion-fab id="addButton" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/account" routerDirection="forward">
            <ion-icon name="person"></ion-icon>
        </ion-fab-button>
    </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/account" routerDirection="forward">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
