<ion-header>
  <ion-toolbar class="header-close" color="transparent">
    <ion-buttons slot="end" routerLink="/home">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <img src="assets/images/close-icon-bg.svg" alt="Close Icon Background" class="close-icon-bg">
  </ion-toolbar>
</ion-header>

<ion-content padding class="maincontent">

</ion-content>

<ion-footer>
  <ion-toolbar class="custom-button">
    <button class="drop-button" (click)="saveDrop()">
      Anwenden
    </button>
  </ion-toolbar>
</ion-footer>
