<ion-header>
  <ion-toolbar class="header-close" color="transparent">
    <ion-buttons slot="end" routerLink="/home">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <img src="assets/images/close-icon-bg.svg" alt="Close Icon Background" class="close-icon-bg">
  </ion-toolbar>
</ion-header>

<ion-content padding class="maincontent">

  <form [formGroup]="filterForm" class="filter">
    <label *ngFor="let filter of filters">
      <div class="filterelement">
        <input type="checkbox" [(ngModel)]=filter.checked [ngModelOptions]="{standalone: true}" (change)="saveFilterToFilterFormArray(filter.name, $event.target.checked)"><span class="filtertext">{{filter.name}}</span><br>
      </div>
    </label>
  </form>
  <div class="button-container">
    <button class="drop-button" (click)="submitSelectedFilter()">
      Anwenden
    </button>
  </div>
</ion-content>
