<ion-header>
  <ion-toolbar class="header-close" color="transparent">
    <ion-buttons slot="end" routerLink="/home">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <img src="assets/images/close-icon-bg.svg" alt="Close Icon Background" class="close-icon-bg">
  </ion-toolbar>
</ion-header>

<ion-content padding class="maincontent">

  <form [formGroup]="filterForm">
    <div *ngFor="let filter of filters">
      <input type="checkbox" (change)="saveFilterToFilterFormArray(filter.name, $event.target.checked)"> {{filter.name}}<br>
    </div>
  </form>

  <button class="drop-button" (click)="submitSelectedFilter()">
    Anwenden
  </button>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-button">

  </ion-toolbar>
</ion-footer>
